body {
    height: 400px;
    width: auto;
    background-color: white;
}

modal{
    p{
        text-align: center;
    }
    button{
        position: center;
    }
    
    height: auto;
    width: auto;
}
